<h1>New Game Form Here</h1>

<%= form_for(@game) do |f| %>
    <div>
        <%= f.label :game_name %>
        <%= f.text_field :game_name %>
    </div>

    <p>Select a Genre or Create a New Genre</p>
    <div>
        <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: 'Select One' %>
    </div>
    <br>
    <div>
        <%= f.fields_for :genre do |g| %>
            <%= g.label :genre_name %>
            <%= g.text_field :genre_name %>
            <% end %>
    </div>
    <br>
    <%= f.submit %>
<% end %>