<% if @game %>
    <h1>Reviews for <%= @game.game_name %> - <%= @game.genre.genre_name %></h1>
<% else %>
    <h1>All Reviewed Games</h1>
<% end %>

<ul>
    <% @reviews.each do |r| %>
    <li><%= r.game.game_name %>: <%= link_to r.title, review_path(r) %> - <%= r.rating %></li> <br>
    <% end %>
</ul>