<!DOCTYPE html>
<html>
  <head>
    <title>GameReviewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <% if logged_in? %>
    <%= link_to "Home", games_path %>
    <br>
    <%= link_to "All Reviews", reviews_path %>
    <br>
    <%= link_to "View All Genres", genres_path %>
    <br>
    <%= link_to "Logout", logout_path, method: :delete %>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
